body{
    margin: 0;
    padding: 0;
    background-image: url(../image/logoShowdoGigaByte.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;    
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button{
   padding: 10px 20px;
   font-size: 16px;
   background-color: #121629;
   color: aliceblue;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin-top: 20px;
}

button:hover{
    background-color: #5f6c7b;
}
